<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skip-sla</key>
	<true/>
	<key>skip-verify</key>
	<true/>
	
	<key>auto-open-ro-root</key>
	<false/>
	<key>auto-open-rw-root</key>
	<false/>
	
	<key>suppress-uiagent</key>
	<true/>
</dict>
</plist>
