<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mount-point</key>
	<string>/Volumes/</string>
	<key>auto-fsck-failure-override-type</key>
	<string>ui-agent</string>
	<key>allow-tty-prompt</key>
	<false/>
</dict>
</plist>
